<div class="card" id="post-{{id}}">
    <img class="card-image" src="{{thumbnail}}" alt="Missing image" onclick="location.href='/post/{{id}}'">
    <div class="card-body">
        <p class="card-title">{{title}}</p>
        <p class="card-description">{{description}}</p>
    </div>
</div>